<h3>{{title}}</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div *ngFor="let error of errorMessages" style="color: red">
      {{error}}
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input type="text" [(ngModel)]="contact.firstname"pInputText placeholder="Firstname" [disabled]="isView">
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input type="text"  [(ngModel)]="contact.lastname" pInputText placeholder="Lastname" [disabled]="isView">
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-angle-right"></i></span>
      <input type="text" [(ngModel)]="contact.phone" pInputText placeholder="Phone" [disabled]="isView || !isSave">
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-inbox"></i></span>
      <input type="text"  [(ngModel)]="contact.email" pInputText placeholder="Email" [disabled]="isView">
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
      <input type="text" [(ngModel)]="contact.city" pInputText placeholder="City" [disabled]="isView">
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-globe"></i></span>
      <input type="text" [(ngModel)]="contact.country" pInputText placeholder="Country" [disabled]="isView">
    </div>
  </div>
</div>
<div *ngIf="!isView">
  <button pButton type="submit" icon="pi pi-save" iconPos="left" class="ui-button-info ui-button-raised ui-button-rounded"
          label={{action}} (click)="save()"></button>
  <button pButton type="button" icon="pi pi-times-circle" iconPos="left" style="margin-left:40px " class="ui-button-warning ui-button-raised ui-button-rounded"
          label="Cancel" (click)="clear()"></button>
</div>
<div *ngIf="isView">
  <button pButton type="button" icon="pi pi-user-plus" iconPos="left" style="margin-left:40px " class="ui-button-raised ui-button-rounded"
          label="Add a New Contact" (click)="clear()"></button>
</div>

